[Unit]
Description=A rule based proxy in Go.
After=network.target

[Service]
Type=exec
Restart=on-abort
ExecStart=/usr/bin/clash-meta -f /etc/clash-meta/config.yaml -d /var/lib/clash-meta

[Install]
WantedBy=default.target
